<div class="container header_top">
    <div class="row">
        <div class="col-12 d-flex justify-content-between" style='width=100vw'>
        <div >
            Bonjour
        </div>
        <div class='img_logo'>
            <img src={{ asset('img/osceale-logo.png') }} alt='logo'>
        </div>
        <div >
            Vous êtes connecté
        </div>
    </div>
    </div>
</div>
    
    



<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="#">Accueil</a>
        <a class="nav-link" href="#">Notre Association</a>
        <a class="nav-link" href="#">Thématiques</a>
        <a class="nav-link" href="#" >Blog</a>
        <a class="nav-link" href="#" >Nous Contacter</a>
      </div>
    </div>
  </div>
</nav>